<b>AttributionText:</b>
<%= marvel_story["attributionText"] %><br />

<b>Description:</b>
<%= marvel_story_result["description"] %><br />

<h4>Characters (<%= marvel_story_characters.try(:count) %>)</h4>
<%= render partial: "marvel_story_characters" %>
