<%= form_tag("/marvel_stories", method: "get", enforce_utf8: false) do %>
  <div "story_search">
    <span>
      <b><%= label_tag(:character, "Look for your favorite Character") %></b>
      <%= text_field_tag :character, @character, required: true %>
      <%= submit_tag "Search", name: nil %><br />
    </span>
    <span id="search_note">
      Ex: x-men, wolverine, Spider-man etc.
    </span>
  </div>
<% end %>