<% marvel_story_characters.try(:each) do |char| %>
  <div class="marvel_chars">
    <div class="img"><%= image_tag(char_image_url(char), alt: char["name"])%></div>
    <div class="text">
      <%= char["name"] %><br />
      <%= char["description"] %>
    </div>
  </div>
<% end %>
