<%= render "marvel_fav_story_search" %>
<% if invalid_marvel_story_response  %>
  <span class="error">
    <%= @marvel_story["status"] rescue "Seems like some problem in Marvel API please contact contact@abc.com" %>
  </span>
<% elsif count_greater_than_zero %>
  <h3>Marvel Story: <%= @character %></h3>
  <%= render partial: "marvel_story", locals: { marvel_story: @marvel_story } %>
 <% else%>
  No marvel story for <b><%= @character %></b>
<% end %>
