/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.marvel_chars{
    border:solid black 1px;
    display:table;
    padding:5px;
    width:98%;
    margin:5px 0; /* you can change/remove margin */
}
div.marvel_chars div.text{
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
}
div.marvel_chars .img{
    vertical-align:middle;
    display:table-cell;
    padding-right:5px;
    width:50px; /* you can change width */
}
div.marvel_chars div.img img{
    /*width:100%;*/
    vertical-align:middle;
}
.error{
  color: red;
}
#search_note{
  margin-left: 18%;
}